.youtube__content{
    grid-area: content;
  }
  .youtube__chips-wrapper{
    max-width: calc(100vw - 240px);
    overflow-x: scroll;
    background-color: var(--negro_profundo);
    display: flex;
    padding-left: 14px;
    border-top: 1px solid var(--gris_semitransparente);
    border-bottom: 1px solid var(--gris_semitransparente);
  }
  .youtube__chips{
    margin: 12px 6px;
    background-color: var(--gris_slate);
    padding: 6px 12px;
    color: var(--blanco);
    cursor: pointer;
    border-radius: 15px;
    white-space: nowrap;
    transition: 0.5s;
  }
  .youtube__chips-texto{
    font-size: 0.9rem;
  }
  .youtube__chips--fondo_gris_perla:hover{
    background-color: var(--gris_perla);
  }
  .youtube__chips-wrapper::-webkit-scrollbar{
    height: 6px;
  }
  .youtube__chips-wrapper:hover::-webkit-scrollbar-thumb{
    background-color: var(--gris_oscuro_claro);
  }
  