/* Container video  */
.youtube__video-container{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: max-content;
    height: calc(100vh - 118px);
    gap: 18px;
    padding: 20px;
    background-color: var(--NEGRO_PROFUNDO);
    overflow-y: scroll;
    align-content: start;
  }
  
  .youtube__video-container-cover{
    position: relative;
    transition: 0.5s;
  }
  
  .youtube__video-content{
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    transition: 1s;
  }
  .youtube__video-content:hover{
    background-color: var(--GRIS_SCARLA);
  }
  .youtube__video-box{
    position: relative;
    width: auto;
    height: 145px;
    display: block;
  }
  .youtube__video-img{
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .youtube__video-detail{
    display: flex;
    color: var(--BLANCO_PURO);
    padding: 12px;
  }
  .youtube__chanel-logo{
    position: relative;
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
  }
  .youtube__chanel-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .youtube__detail{
    margin-left: 20px;
  }
  .youtube__title{
    font-size: 0.9rem;
  }
  .youtube__chanel-name{
    font-size: 0.8rem;
    margin-top: 10px;
    color: var(--GRIS_NEUTRO);
  }
  .youtube__view-upload{
    display: flex;
    gap: 5px;
    color: var(--GRIS_NEUTRO);
    font-size: 0.8rem;
    margin-top: 4px;
  }