@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(variables.css);
@import url(Stylos/header/header.css);
@import url(Stylos/sidebar/sidebar.css);
@import url(Stylos/chips/chips.css);
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
Layout
*/
.youtube{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas: 
  'header header'
  'sidebar content';
  height: 100vh;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius: 5px;
}
.youtube__sidebar::-webkit-scrollbar-thumb{
  background-color: var(--gris_oscuro_claro);
}
/* encabezado de youtube */
.youtube__header{
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--negro_carbon);
  width: 100%;
  height: 56px;
  justify-content: space-between;
  padding-left: 10px;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  gap: 6px;
}
.youtube__logo-container{
  display: flex;
  align-items: center;
  gap: 6px;
}
.youtube__icono_menu{
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--blanco);
}
.youtube__logo{
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}
.youtube__logo-titulo{
  color: var(--blanco);
  letter-spacing: -1px;
  font-size: 1.5rem;
}
.youtube__logo-img{
  width: 100%;
  height: 100%;
}
.youtube__logo-contenedor{
  position: relative;
  height: 25px;
  width: 30px;
}
.youtube__search-container{
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 1 685px;
}
.youtube__search-form{
  width: 100%;
  position: relative;
  display: flex;
}
.youtube__search-input{
  height: 40px;
  width: 100%;
  background-color: var(--negro_ebano);
  color: var(--blanco_humo);
  padding: 12px;
  outline: none;
  border: 1px solid var(--gris_semitransparente);
  border-radius: 10px 0px 0px 10px;
}
.youtube__search-button,.youtube__mic-button{
  width: 40px;
  min-width: 40px;
  height: 40px;
  font-size: 1.5rem;
  background-color: var(--gris_pizarra);
  color: var(--blanco);
  outline: none;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  border: none;
}
.youtube__mic-button{
  border-radius: 50%;
}
.youtube__profile-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
.youtube__profile-container_icons{
  width: 40px;
  min-width: 40px;
  height: 40px;
  color: var(--blanco);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.8s;
}
.youtube__profile-container_icons--fondo_gris_acero:hover{
  background-color: var(--gris_acero);
}

.youtube__profile-box{
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}
.youtube__profile-image{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* barra lateral de youtube */
.youtube__sidebar{
  grid-area: sidebar;
  background-color: var(--gris_sombra);
  padding-top: 10px;
  overflow-y: scroll;
}
.youtube__sidebar-items{
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}
.youtube__sidebar-item{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  transition: 0.5s;
  text-decoration: none;
  color: var(--blanco);
  font-size: 0.9rem;
}
.youtube__sidebar-title{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--gris_claro);
  margin-left: 10px;
}
.youtube__sidebar-icono{
  margin-right: 24px;
  font-size: 1.5rem;
}
.youtube__sidebar-item--fondo_gris-acero:hover{
  background-color: var(--gris_acero);
}
.youtube__sidebar-linea-separador{
  margin: 12px 0;
  border: solid 1px var(--gris_semitransparente);
}
.youtube__content{
  grid-area: content;
}
.youtube__chips-wrapper{
  max-width: calc(100vw - 240px);
  overflow-x: scroll;
  background-color: var(--negro_profundo);
  display: flex;
  padding-left: 14px;
  border-top: 1px solid var(--gris_semitransparente);
  border-bottom: 1px solid var(--gris_semitransparente);
}
.youtube__chips{
  margin: 12px 6px;
  background-color: var(--gris_slate);
  padding: 6px 12px;
  color: var(--blanco);
  cursor: pointer;
  border-radius: 15px;
  white-space: nowrap;
  transition: 0.5s;
}
.youtube__chips-texto{
  font-size: 0.9rem;
}
.youtube__chips--fondo_gris_perla:hover{
  background-color: var(--gris_perla);
}
.youtube__chips-wrapper::-webkit-scrollbar{
  height: 6px;
}
.youtube__chips-wrapper:hover::-webkit-scrollbar-thumb{
  background-color: var(--gris_oscuro_claro);
}

.youtube__video-container{
  display: grid;
  /* grid-template-columns: repeat(4,1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: max-content;
  height: calc(100vh - 118px);
  gap: 18px;
  padding: 20px;
  background-color: var(--negro_profundo);
  overflow-y: scroll;
  align-content: start;
}

.youtube__video-container-cover{
  position: relative;
  transition: 0.5s;
}

.youtube__video-content{
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  transition: 1s;
}
.youtube__video-content--fondo-gris_slate:hover{
  background-color: var(--gris_slate);
}
.youtube__video-box{
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}
.youtube__video-img{
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.youtube__video-detail{
  display: flex;
  color: var(--blanco);
  padding: 12px;
}
.youtube__chanel-logo{
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.youtube__chanel-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube__detail{
  margin-left: 20px;
}
.youtube__title{
  font-size: 0.9rem;
}
.youtube__chanel-name{
  font-size: 0.8rem;
  margin-top: 10px;
  color: var(--gris_neutro);
}
.youtube__view-upload{
  display: flex;
  gap: 5px;
  color: var(--gris_neutro);
  font-size: 0.8rem;
  margin-top: 4px;
}
@media (max-width:1200px){
  .youtube{
    grid-template-columns: 70px 1fr;
  }
  .youtube__sidebar-items span, .youtube__sidebar-items h4{
    display: none;
  }
  .youtube__sidebar-items{
    padding: 0;
  }
  .youtube__sidebar-item{
    padding: 0 20px;
  }
  .youtube__chips-wrapper{
    max-width: calc(100vw - 70px);
  }
}
@media (max-width:800px){
  .youtube__search-container{
    display: none;
  }
}