:root{
    --BLANCO_PURO:#fff;/*sidebar entre otros  */
    --GRIS_CLARO:#aaaa;/*sidebar entre otros  */
    --GRIS_SEMITRASPARENTE:rgba(255,255 ,255 ,0.2);/*sidebar entre otros  */
    --GRIS_OSCURO_CLARO:#717171;  /*sidebar entre otros  */
    --NEGRO_CARBON:#202020;/*sidebar entre otros  */
    --BLANCO_HUMO:#f2f2f2;/*sidebar entre otros  */
    --GRIS_PIZARRA:#313131;/*sidebar entre otros  */
    --GRIS_ACERO:#4a4a4a;/*sidebar entre otros  */
    --GRIS_SOMBRA:#212121;/*sidebar entre otros  */
    --NEGRO_SUPER_profundo:#181818;/*sidebar entre otros  */
    --NEGRO_PROFUNDO:#121212;/*NEGRO EBANO SE LLAMABA   */
    --GRIS_SCARLA:#373737;/*sidebar entre otros  */
    --GRIS_PERLA:#d4d4d4;/*sidebar entre otros  */
    --GRIS_NEUTRO:#aaa;/*sidebar entre otros  */
  }