

.container{
    grid-area: container;
    /* background-color: #060516; */
}

.container__chips{
    /* overflow-x: scroll;
    display: flex;
    background-color: #121212;
    padding-left: 14px;
    border-top: 1px solid rgba(225, 225, 255, 225,0.1);
    border-bottom: solid rgba(225, 225, 255, 225,0.1);
    max-width: calc(100vw -240vw); */
    max-width: calc(100vw -240px);
    overflow-x: scroll;
    background-color:#202020;
    display: flex;
    padding-left: 14px;
    border-top:  solid 1px rgba(225, 225, 255, 225,0.1);
    border-bottom:  solid 1px rgba(225, 225, 255, 225,0.1);
}


.container__chips__text{
    margin: 12px 6px;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;  /*para la letra */
    transition: 0.5s;
    overflow-x: scroll;
    background-color: #524b4b; 
    /* padding: 6px;
    margin: 12px 6px;
    color: #fff;
    background-color: #221f1f;
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;
    transition: .5s; */

}

.container__chips::-webkit-scrollbar-thumb{
    background-color: #717171;
}


.container__chips::-webkit-scrollbar{
    height:10px ;
}


.container__chips__text:hover{
    background-color: #d4d4d4;
}


